@import url('https://fonts.googleapis.com/css2? family= Noto+Sans+KR:wght@100;300;400;500;700;900 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;900&display=swap');

.font{font-family: 'Noto Sans KR', sans-serif,'Montserrat', sans-serif;}

*{margin:0; padding:0;}
li{list-style:none;}
a{text-decoration:none; color:inherit;}
body{font-family:'Montserrat', sans-serif; font-size:16px; background:#fff;}

/* flex */
.fc{display:flex; justify-content:center;}
.fa{display:flex; justify-content:space-around;}
.fb{display:flex; justify-content:space-between;}
.fs{display:flex; justify-content:flex-start;}
.fe{display:flex; justify-content:flex-end;}
.ic{align-items:center;}
.ie{align-items:flex-end;}
.is{align-items:flex-start;}
.fw{flex-wrap:wrap;}

/* position */
.pa{position:absolute;}
.pr{position:relative;}
.pf{position:fixed;}

/* display */
.db{display:block;}
.df{display:flex;}
.di{display:inline;}
.dib{display:inline-block;}
.dn{display:none;}

/********* CSS START *********/

/* loding */
.loding_wrap{width:100%; height:100vh; overflow:hidden; background:#2848b2; z-index:1000;
 animation:none1 1s linear 1; animation-fill-mode: forwards; transition:0;}
.loading_logo{width:150px; height:120px; top:0; left:0; right:0; bottom:0; margin:auto; animation:loading 0.8s ease-in 1;}
.loading_logo>img{width:150px;}

@keyframes none1 {
 0% {opacity: 1;}
 99% {opacity:1;}
 100% {opacity:0; z-index:0;}
}

@keyframes loading {
 0% {transform:rotateY(0)}
 50% {transform:rotateY(180deg);}
 100% {transform:rotateY(0);}
}

/* text line */
.text_line{width:100%; height:1px; border-bottom:1px dotted #ddd; left:0; top:0; right:0; bottom:0; margin:auto; z-index:-1;}

.wrap{width:100%; height:auto; overflow:hidden;}
/* 고정 */
.header{width:100%; height:100px; background:#fff; z-index:1;}

/* 고정 로고 */
.logo{cursor:pointer; margin:40px 20px;}
.logo>img{width:80px;}

/* 고정 메뉴 */
.header{z-index:100;}
.menu{width:650px; background:#fff; top:40px; right:4%; font-size:22px;}
.menu>ul>li{position:relative; font-weight:600; font-weight:bold;}
.menu>ul>li>a{padding:0 10px;}
.menu>ul>li>a>span{position:relative; z-index: 1;}
.menu>ul>li>a::before{width:0%; height:10px; background:#ffd154; content:""; position:absolute; top:14px; left:0; transition:all 0.2s;}

/* 고정 카카오 */
.fixed_kakao{top:410px; right:1%; width:120px; height:150px; flex-wrap:wrap; font-size:14px; z-index:100;}
.fixed_kakao>a{width:100px; height:120px; border-radius:10px; background:#2848b2;}
.fixed_kakao>a>img{width:130px;}

/* 메인 컨텐츠 */
.main_contents{width:75%; height:100vh; margin-left:10%;}

/* 메인 배너 */
.banner{width:650px; height:100vh; background:#2848b2; margin-right:4%; overflow:hidden;z-index:101;}
.banner>.tit{width:100%; height:100px;}
.banner>.tit>p{color:#fff; font-size:55px; font-weight:900; text-shadow: #ffd154 3px 3px 2px;}
.banner>.tit>span>img{margin:10px;}
.banner>.banner_img{width:100%; height:100%;}
.banner>.banner_img>img{width:650px; height:100%;}

/* 메인 슬로건 */
.slogon_wrap{width:650px; height:400px;  margin-top:100px;}
.slogon>h1{font-size:120px; color:#edf1ff;}
.slogon>h1>p{line-height:100px; position:relative; z-index:-1;}
.slogon>.sentence{top:66px; font-size:24px;}
.slogon>.sentence>p{line-height:35px;}
.slogon>.sentence>p:last-child{font-size:17px;}
.c_btn{top:150px;}
.c_btn>a{font-weight:bold; font-size:18px; letter-spacing:1px; width:150px; height:50px; background:#2848b2; padding:0 15px; box-sizing:border-box; margin-top:50px; transition:all 0.2s; z-index:1; color:#fff;}
.c_btn>a:hover{background:#ffd154; color:#242424;}

/* 메인 소개 */
.about_wrap{width:100%; height:100vh; background:#fff; overflow:hidden}
/* 어바웃 미 */
.aboutme{width:70%; height:100vh; background:#fff; margin:0 auto;}
.about_tit{top:38px;}
.about_tit>p{font-size:110px; color:#dde5ff; font-weight:bold; margin-top:50px;}
.about_box{width:100%; height:100vh; background:#fff; border-radius:10px 10px 0 0; box-shadow:#ddd 0px 0px 20px; padding:80px 120px; box-sizing:border-box; z-index:11;}
.about>.tit_line{width:60px; height:5px; background:#ffd154; margin-bottom:10px;}
.about>li>p{font-size:22px; font-family:'Noto Sans KR'; font-weight:400; color:#282828; line-height:30px;}
.about>li>p:last-child{margin-top:30px;}
/* 인트로 */
.intro{width:100%; height:auto; margin-bottom:100px;}
.intro_tit>h1{font-size:45px; font-weight:600; margin-bottom:30px;}
.intro_tit>h1::before{width:315px; height:10px; background:#ffd154; content:""; position:absolute; top:40px; left:-3px; z-index:-1;}
.intro_txt{padding:10px 40px; box-sizing:border-box;}
.intro_txt>li{width:100%; font-size:16px;}
.intro_txt>li>p{width:13%; padding:20px; box-sizing:border-box; border-top:1px solid #aaa; font-weight:600;}
.intro_txt>li:last-child>p{border-bottom:1px solid #aaa;}
.intro_txt>li>span{width:85%; padding:20px; box-sizing:border-box; border-top:1px solid #ddd;}
.intro_txt>li:last-child>span{border-bottom:1px solid #ddd;}
.carrer{line-height:40px;}

/* 스킬 */
.skill_wrap{width:100%; height:100vh; background:#fff; overflow:hidden}
.abilitys{width:70%; height:100vh; background:#fff; margin:0 auto;}
.ability_tit{top:38px;}
.ability_tit>p{font-size:110px; color:#dde5ff; font-weight:bold; margin-top:50px;}
.ability_box{width:100%; height:100vh; background:#fff; border-radius:10px 10px 0 0; box-shadow:#ddd 0px 0px 20px; padding:80px 120px; box-sizing:border-box; z-index:11;}
.ability>.tit_line{width:60px; height:5px; background:#ffd154; margin-bottom:10px;}
.ability>li>p{font-size:22px; font-family:'Noto Sans KR'; font-weight:400; color:#282828; line-height:30px;}
.ability>li>p:last-child{margin-top:30px;}
/* 스킬 차트 */
.skill{width:100%; height:auto; margin-bottom:100px;}
.skill_tit>h1{font-size:45px; font-weight:600; margin-bottom:30px;}
.skill_tit>h1::before{width:137px; height:10px; background:#ffd154; content:""; position:absolute; top:38px; left:-3px; z-index:-1;}
.skill_chart{width:100%; height:auto;}
.chart{width:130px; height:130px; background:#fff; border-radius:100%; padding:0;}
.chart>li{width:110px; height:110px; background:#fff; border-radius: 100%;}
.chart>li>p{color:#282828; font-weight:bold; font-size:20px;}
.chart>li>p>span{color:#2848b2; font-weight:bold; font-size:18px; width:100%; text-align:center;}

.order_wrap{width:100%;  height:auto; margin-top:50px;}
.order_box{width:85%; margin:0 auto;}
.order_box>li{width:18%; height:auto; box-shadow:2px 2px 15px #ddd; padding:10px 20px;}
.order>li{width:100%; padding:5px 0px;}
.order>li>h4{color:#ffd154;}
.order>li>img{width:50px;}
.order>li>p{font-size:14px; text-align:center;}

/* 메인 포트폴리오 */
.portfolio_wrap{width:70%; height:100vh; margin:0 auto;}
.portfolio_title>p{font-size:110px; color:#dde5ff; font-weight:bold; margin-top:105px;}
.portfolio_box{width:100%; height:79.5vh; background:#fff; border-radius:10px 10px 0 0; box-shadow:#ddd 0px 0px 20px; bottom:0px; padding:80px 100px; box-sizing:border-box; z-index:11;}
.portfolio_box>.scroll{width:100%; height:720px; overflow:scroll; overflow-x:hidden;}
.portfolio_box>.scroll::-webkit-scrollbar{width:0;height:0;}
.portfolio_box>.scroll>.box:first-child{margin:0;}
.portfolio_box>.scroll>.box:last-child{margin-bottom:80px;}
.portfolio_box>.scroll>.box{height:auto; width:100%; margin:180px 0;} 

/* 포트폴리오1 sns */
/* 포폴 내용 left_box */
.left_box{width:450px; height:300px;}
.left_box .tit_line{width:60px; height:5px; background:#2848b2; margin-bottom:10px; }
.left_box>.tit>h2{margin-bottom:80px;}
.left_box>.info>ul>li{line-height:40px;}
.left_box>.info>ul>li>p{font-weight:600; width:100px; position:relative;}
.left_box>.info>ul>li>p::before{width:85%; height:8px; background:#ffd154; content:""; position:absolute; top:22px; left:0; transition:all 0.2s; z-index:-1;}
.left_box>.info>ul>li>span{font-weight:500;}
.left_box>.info>ul>li>.cover{height:25px; border-radius:10px; background:#eee; line-height:25px; padding:2px 10px; font-size:15px;}
.left_box>.info>ul>li>.cover.margin{margin:0 10px;}

/* 포폴 링크 right_box */
.right_box{width:500px; height:250px; background:#282828; overflow:hidden;}
.img_src{width:100%; height:250px; border:3px solid #eee; box-sizing:border-box;}
.img_src>a>img{width:100%; height:244px;}
.img_src:hover{border:3px solid #ffd154;}
.img_src:hover>a>img{opacity:0.3;}
.img_src>.view{top:0; bottom:0; left:0; right:0; margin:auto; width:120px; height:40px; background:#ffd154; font-weight:bold; color:#2848b2; font-size:20px; letter-spacing:2px; text-align:center; line-height:40px; border-radius:20px; display:none;}
.img_src>.view_img{top:5px; right:5px; width:45px; display:none;}
.img_src:hover .view{display:block;}
.img_src:hover .view_img{display:block;}


/* 모바일 */
@media all and (min-width:0px) and (max-width:766px){
/* 카카오 */
.fixed_kakao{display: none;}
.banner{display:none;}

.logo{ margin-left:10px;}
.logo img{width:55px;}
.menu{width:80%; font-size:20px; right:10px;}
.menu>ul>li>a{padding:0;}
.header{border-bottom:1px solid #eee;}

.main_contents{margin-left:5%;}
.slogon>h1{font-size:80px;}
.slogon>.sentence{font-size:20px;}
.slogon>.sentence>p.txt{font-size:15.5px;}

/* 어바웃 */
.aboutme{width:90%;}
.about_box{padding:50px 30px;}
.about_tit{top:18px;}
.about_tit>p{font-size:55px; margin-top:100px;}
.about>li>p{font-size:15px;}
.intro_tit>h1{font-size:28px; margin-bottom:20px;}
.intro_tit>h1::before{width:200px; top:23px;}
.intro_txt{padding:10px 10px;}
.intro_txt>li{font-size:14px;}
.intro_txt>li>p{width:20%; padding:10px;}
.intro_txt>li>span{width:78%; padding:10px;}

/* 스킬 */
.abilitys{width:90%;}
.ability_box{padding:50px 30px;}
.ability_tit{top:20px;}
.ability_tit>p{font-size:55px; margin-top:100px;}
.ability>li>p{font-size:18px;}
.skill_tit>h1{font-size:28px;}
.skill_tit>h1::before{width:90px; top:22px;}
.skill_chart{justify-content:space-around; flex-wrap:wrap; align-items:center;}
.chart{width:70px; height:70px;}
.chart>li {width:60px; height:60px;}
.chart>li>p{font-size:18px;}
.chart>li>p>span{font-size:16px;}
.order_box{width:100%; justify-content:space-between;}
.order_box>li{width:13%; height:100px; padding:10px 15px;}
.order>li>img{width:50px;}
.order>li>h3{font-size:16px; display:none;}
.order>li>p{display:none;}


/* 포폴박스 */
.portfolio_wrap{width:90%;}
.portfolio_title>p{font-size:55px; margin-top:120px;}
.portfolio_box{padding:50px 10px; height:82.5vh;}

.left_box{width:auto;}
.right_box{width:400px;}
.portfolio_box>.scroll>.box{flex-wrap:wrap; justify-content:space-around;}
 }
 
 /* 탭 */
 @media all and (min-width:767px) and (max-width:1023px){
/* 카카오 */
.fixed_kakao{display: none;}
.banner{display:none;}

.menu{width:70%;}

/* 어바웃 */
.aboutme{width:80%;}
.about_box{padding:50px;}
.about_tit{top:27px;}
.about_tit>p{font-size:80px; margin-top:70px;}
.about>li>p{font-size:18px;}
.intro_tit>h1{font-size:30px;}
.intro_tit>h1::before{width:213px; top:25px;}
.intro_txt{padding:10px 10px;}
.intro_txt>li{font-size:16px;}
.intro_txt>li>p{width:20%; padding:10px;}
.intro_txt>li>span{width:78%; padding:10px;}

/* 스킬 */
.abilitys{width:80%;}
.ability_box{padding:50px;}
.ability_tit{top:27px;}
.ability_tit>p{font-size:80px; margin-top:70px;}
.ability>li>p{font-size:18px;}
.skill_tit>h1{font-size:30px;}
.skill_tit>h1::before{width:95px; top:25px;}
.skill_chart{justify-content:space-between;}
.chart{width:90px; height:90px;}
.chart>li {width:80px; height:80px;}
.order_box{width:90%; justify-content:space-between;}
.order_box>li{width:17%; padding:10px 15px;}
.order>li>img{width:30px;}
.order>li>h3{font-size:16px;}
.order>li>p{display:none;}

/* 포폴박스 */
.portfolio_wrap{width:80%;}
.portfolio_title>p{font-size:80px; margin-top:130px;}
.portfolio_box{padding:50px;}

.right_box{width:400px;}
.portfolio_box>.scroll>.box{flex-wrap:wrap; justify-content:space-around;}
 }
 
 /* 탭 */
 @media all and (min-width:1024px) and (max-width:1299px){
 
/* 카카오 */
.fixed_kakao{top:420px; width:100px; height:130px;}
.fixed_kakao>a{width:80px; height:100px;}
.fixed_kakao>a>img{width:110px;}


/* 메뉴 */
.menu{width:60%;}

/* 메인 */
.banner{display:none;}
/* 슬로건 */
.slogon_wrap{width:650px; height:400px;  margin-top:100px;}
.slogon>h1{font-size:120px; color:#edf1ff;}
.slogon>h1>p{line-height:100px; position:relative; z-index:-1;}
.slogon>.sentence{top:66px; font-size:24px;}
.slogon>.sentence>p{line-height:35px;}
.slogon>.sentence>p:last-child{font-size:17px;}

/* 어바웃 */
.aboutme{width:90%;}
.about_box{padding:50px;}
.about>li>p{font-size:20px;}
.intro_tit>h1{font-size:40px;}
.intro_tit>h1::before{width:285px; top:34px;}

/* 스킬 */
.abilitys{width:90%;}
.ability_box{padding:50px;}
.ability>li>p{font-size:20px;}
.skill_tit>h1{font-size:40px;}
.skill_tit>h1::before{width:125px; top:34px;}

/* 포폴 */
.portfolio_wrap{width:90%;}
.portfolio_box{padding:50px;}
.right_box{width:400px;}
 }
 
 /* 모니터 */
 @media all and (min-width:1300px) and (max-width:1569px){
/* 카카오 */
.fixed_kakao{top:430px;width:100px; height:120px; z-index:100;}
.fixed_kakao>a{width:80px; height:90px; border-radius:10px; background:#2848b2;}
.fixed_kakao>a>img{width:100px;}

/* 메뉴 */
.menu{width:600px; right:2%;}

.banner{width:550px;overflow:hidden;}
.slogon_wrap{width:450px;}
.slogon>h1{font-size:80px;}
.slogon>.sentence{font-size:20px;}
.slogon>.sentence>p.txt{font-size:15px; width:100%; white-space:nowrap;}

/* 어바웃 */
.aboutme{width:80%;}
.about_box{padding:50px;}
.about>li>p{font-size:20px;}

/* 스킬 */
.abilitys{width:80%;}
.ability_box{padding:50px;}
.ability>li>p{font-size:20px;}

/* 포폴 */
.portfolio_wrap{width:80%;}
.portfolio_box{padding:50px;}
 }