@import url("style.css");

.wrap{width:100%; height:100vh; background:url(../img/main_bg.png) no-repeat center center #fff;}
.logo img{width:60px; margin:20px;}
.login_wrap{width:450px; height:550px; margin-left:300px; }
.login_wrap>.tit>h1{color:#5f64ca; font-size:55px; font-weight:800;}
.login_wrap>.tit>h2{color:#666666; font-size:26px;}
.login{margin-top:50px;}
.login>li{ margin-bottom:10px; }
.login>li>input{width:100%; height:50px; border:none; border-radius:30px; padding:10px 20px; box-sizing:border-box; background:#eaebff}
.login>li>p>.check{margin:0 5px;}
.login>li:last-child{font-size:14px;}
.login>li>span{color:#5f64ca;}
.login_btn{margin-top:30px;}
.login_btn>li>button{width:100%; height:50px; margin-bottom:10px; border:none; font-size:16px; font-weight:bold;}
.login_btn>li>.l_btn{color:#fff; background:#5f64ca;}
.login_btn>li>.j_btn{border:3px solid #eee; color:#5f64ca; background:none;}


@media all and (min-width:0px) and (max-width:766px){
 .wrap{background:url(../img/main_bg.png) repeat left top #fff; background-size:190%;}
 .login_wrap{margin:0 auto;}
}

@media all and (min-width:767px) and (max-width:1023px){
 .wrap{background:url(../img/main_bg.png) repeat top left #fff; background-size:190%;}
 .login_wrap{margin:0 auto;}
}

@media all and (min-width:1024px) and (max-width:1299px){
 .wrap{background:url(../img/main_bg.png) no-repeat top left #fff; background-size:190%}
 .login_wrap{margin:0 auto;}
}

@media all and (min-width:1300px) and (max-width:1569px){
 .wrap{background:url(../img/main_bg.png) no-repeat center center #fff; background-size:100% 100vh;}
 .login_wrap{margin-left:250px;}
}